.contact-section-container
	.contact-header
		h2 Contact Us

		h5 A little advice can go a long way! Fill out some basic information to get started.

	form( action="https://formspree.io/enhsent@gmail.com" method="POST")
		.name-section
			input(type="text" name="fname" placeholder="First Name" class="wideinput" required)
			input(type="text" name="lname" placeholder="Last Name" class="wideinput" required)
		.info-section
			input(type="text" name="business" placeholder="Business Name" class="wideinput" required)
			input(type="email" name="email" placeholder="Email Address" class="wideinput" required)
			input(type="number" name="number" placeholder="Number" class="wideinput" required)
			textarea(cols="1" rows="1" placeholder="What are your business goals?" class="wideinput" class="message" required)
		br
		button(type="submit" value="Request Assessment >>" class="submit") Request Assessment &#187;