.dev-process-section-container
	.header
		span.firstspan FULL SERVICE WEB DEVELOPMENT AGENCY
		span.secondspan Developed for the full project lifecycle and more

	.row-container

		.col.first
			.row.strategy
				span.title Strategy
				.icon-strategy
				span.desc All our projects, big or small start here
			.row.content
				span.title Content
				.icon-content
				span.desc Content is King. The life of the project
			.row.design
				span.title Design
				.icon-design
				span.desc Focused on increasing revenue

		.col.second
			.row.development
				span.title Development
				.icon-development
				span.desc Create the best user experience
			.row.support
				span.title Support
				.icon-support
				span.desc Long term engagement with our clients
			.row.optimize
				span.title Optimize
				.icon-optimize
				span.desc Performance to achieve your profit