.footer-container

	.social-links
		h2 Keep In Touch!

		ul
			li: a(href="https://www.instagram.com/enhsent/" target="_blank"): i.fa.fa-instagram
			li: a(href="https://www.facebook.com/enhsent/" target="_blank"): i.fa.fa-facebook-square
			li: a(href="https://www.linkedin.com/company/enhsent/" target="_blank"): i.fa.fa-linkedin-square
			li: a(href="https://twitter.com/enhsent" target="_blank"): i.fa.fa-twitter-square

	.footer-nav
		ul
			li: a(href="{{sitebase.url}}/") Home
			//li: a(href="#") Services
			//li: a(href="#") Portfolio
			li: a(href="{{sitebase.url}}/contact/index.html") Contact
			li: a(href="{{sitebase.url}}/blog/index.html" target="_blank") Blog

	.final
		.privacy-policy
			a(href="{{sitebase.url}}/privacy-policy/index.html") Privacy Policy
		.address
			a(href="https://www.google.com.ph/maps/place/Cebu+City,+Cebu/@10.3787341,123.7062054,11z/data=!3m1!4b1!4m5!3m4!1s0x33a999258dcd2dfd:0x4c34030cdbd33507!8m2!3d10.3156992!4d123.8854366" target="_blank") Cebu City, Philippines
		.coyright
			span © 2018   Enhsent Web Development Agency