.footer-container

	.social-links
		h2 Keep In Touch!

		ul
			li: a(href="#"): i.fa.fa-instagram
			li: a(href="#"): i.fa.fa-facebook-square
			li: a(href="#"): i.fa.fa-youtube-square
			li: a(href="#"): i.fa.fa-linkedin-square
			li: a(href="#"): i.fa.fa-twitter-square

	.footer-nav
		ul
			li: a(href="{{sitebase.url}}/") Home
			//li: a(href="#") Services
			//li: a(href="#") Portfolio
			li: a(href="{{sitebase.url}}/contact/index.html") Contact
			li: a(href="{{sitebase.url}}/blog/index.html" target="_blank") Blog

	.final
		.privacy-policy
			a(href="{{sitebase.url}}/privacy-policy/index.html") Privacy Policy
		.coyright
			span © 2018   Enhsent Web Development Agency