.header-social-media
	ul
		li: a(href="https://www.instagram.com/enhsent/" target="_blank"): i.fa.fa-instagram
		li: a(href="https://www.facebook.com/enhsent/" target="_blank"): i.fa.fa-facebook-square
		li: a(href="https://www.linkedin.com/company/enhsent/" target="_blank"): i.fa.fa-linkedin-square
		li: a(href="https://twitter.com/enhsent" target="_blank"): i.fa.fa-twitter-square

.header-container
	.header-logo

	.header-nav
		ul
			li: a(href="{{sitebase.url}}/") Home
			//li: a(href="#") Services
			//li: a(href="#") Portfolio
			li: a(href="{{sitebase.url}}/contact/") Contact
			li: a(href="{{sitebase.url}}/blog/" target="_blank") Blog

	.header-mobile-nav-button#header-mobile-nav-button

.header-mobile-nav
	ul
		li: a(href="{{sitebase.url}}/") Home
		//li: a(href="#") services
		//li: a(href="#") portfolio
		li: a(href="{{sitebase.url}}/contact/" target="_blank") Contact
		li: a(href="{{sitebase.url}}/blog/" target="_blank") Blog

	.header-mobile-nav-social-media
		ul
			li: a(href="https://www.instagram.com/enhsent/" target="_blank"): i.fa.fa-instagram
			li: a(href="https://www.facebook.com/enhsent/" target="_blank"): i.fa.fa-facebook-square
			li: a(href="https://www.linkedin.com/company/enhsent/" target="_blank"): i.fa.fa-linkedin-square
			li: a(href="https://twitter.com/enhsent" target="_blank"): i.fa.fa-twitter-square

