mixin navigation-links
	ul
		li: a(href="{{ site.baseurl }}/blog") HOME
		//li: a(href="{{ site.baseurl }}/categories/technology") TECHNOLOGY
		//li: a(href="{{ site.baseurl }}/categories/finance") FINANCE
		//li: a(href="{{ site.baseurl }}/categories/fitness") FITNESS
		//li: a(href="{{ site.baseurl }}/categories/food") FOOD
		//li: a(href="{{ site.baseurl }}/categories/travel") TRAVEL
		//li: a(href="#") SERVICES
		li: a(href="{{site.baseurl}}/blog/contact") CONTACT
		//li: a(href="{{site.baseurl}}/blog/about") ABOUT

.mobile-header-bar
	span#mobile-navigation-button.mobile-navigation-button


.mobile-navigation
	+navigation-links

.header-bar
	.logo
		
		
	.navigation
		+navigation-links

	.social-icons
		ul
			li: a(href="https://www.facebook.com/enhsent/" target="_blank"): i.fa.fa-facebook.fa
			li: a(href="https://twitter.com/enhsent" target ="_blank"): i.fa.fa-twitter.fa
			li: a(href="https://www.instagram.com/enhsent/" target="_blank"): i.fa.fa-instagram.fa
			li: a(href="https://www.linkedin.com/company/enhsent/" target="_blank"): i.fa.fa-linkedin-square

