.blurb-container
	.blurb-text
		h1 Effective web site design that focuses on  
		h1 increasing your sales
		h4 What makes us the best web site design agency in Cebu?
		h4 Simple. By focusing on increasing your leads, sales and profits on your web site.
		h4 We're able to better understand your needs.
	button(type = "button" onclick = "location.href='#contact' ") REQUEST AN ASSESSMENT &#187;
		
