.blurb-container
	.blurb-text
		h1 Effective design that focuses on  
		h1 increasing your profit
		h4 What makes us the best web development agency?
		h4 Simple. By focusing on increasing your leads, sales and profits.
		h4 We're able to better understand your needs.
	button(type = "button" onclick = "location.href='#contact' ") REQUEST AN ASSESSMENT &#187;
		
